absl-py==0.10.0
aiohttp==3.6.2
apache-beam==2.24.0
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
avro-python3==1.9.2.1
blis==0.4.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
contextlib2==0.6.0.post1
crcmod==1.7
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
dataclasses==0.7
decorator==4.4.2
dill==0.3.1.1
dlib==19.21.0
dm-tree==0.1.5
docopt==0.6.2
fastai==2.0.13
fastavro==0.23.6
fastcore==1.0.15
fastprogress==1.0.0
filterpy==1.4.5
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-api-core==1.22.3
google-api-python-client==1.12.3
google-auth==1.22.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-bigquery==2.0.0
google-cloud-core==1.4.2
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py==2.10.0
hdfs==2.5.8
httplib2==0.17.4
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
importlib-metadata==2.0.0
imread==0.7.4
imutils==0.5.3
isort==5.7.0
joblib==0.16.0
kaggle==1.5.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libcst==0.3.12
lxml==4.5.2
Markdown==3.2.2
matplotlib==3.3.2
mccabe==0.6.1
mock==2.0.0
multidict==4.7.6
murmurhash==1.0.2
mypy-extensions==0.4.3
networkx==2.5
nms==0.1.6
norfair==0.1.8
numpy==1.18.5
oauth2client==3.0.0
oauthlib==3.1.0
object-detection @ file:///home/henry/Documentos/TensorFlow/models/research
opencv-contrib-python==4.4.0.40
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pbr==5.5.0
Pillow==7.2.0
plac==1.1.3
preshed==3.0.2
promise==2.3
proto-plus==1.10.0
protobuf==3.13.0
psutil==5.7.2
py-cpuinfo==7.0.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycparser==2.20
pydot==1.4.1
Pygments==2.7.1
pylint==2.6.0
pymongo==3.11.0
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rich==6.2.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
sentencepiece==0.1.91
six==1.15.0
slugify==0.0.1
spacy==2.3.2
srsly==1.0.2
tb-nightly==2.4.0a20201022
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-addons==0.11.2
tensorflow-datasets==3.2.1
tensorflow-estimator==2.3.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.24.0
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
text-unidecode==1.3
tf-estimator-nightly==2.4.0.dev2020102201
tf-models-official==2.3.0
tf-nightly==2.4.0.dev20201019
tf-slim==1.1.0
thinc==7.4.1
threadpoolctl==2.1.0
tifffile==2020.9.3
toml==0.10.2
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tqdm==4.49.0
typed-ast==1.4.2
typeguard==2.9.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
uritemplate==3.0.1
urllib3==1.24.3
wasabi==0.8.0
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.0
zipp==3.3.0
